@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 10 9 8;
  --primary: 94 53 177; /* Roxo */
  --secondary: 78 52 46; /* Castanho */
}

/* Tema Amarelado */
[data-theme='yellowish'] {
  --primary: 234 179 8;
  --secondary: 66 50 14;
}

body {
  background: rgb(var(--background));
  color: white;
}