@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #a855f7;
}

body {
  background-color: #000000; /* Fundo Preto Absoluto */
  color: #ffffff;
}

/* Esconder barra de scroll mas manter funcionalidade */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}