@import "tailwindcss";

:root {
  --primary: #a855f7;
  --bg-main: #000000;
  --bg-secondary: #121212;
}

body {
  background-color: black;
  color: white;
  overscroll-behavior: none;
  overflow: hidden;
  height: 100vh;
  font-family: sans-serif;
}

.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }