@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09080b;
  --foreground: #ffffff;
  /* A cor primária virá do Contexto, mas definimos um fallback */
  --primary: #ec4899; 
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/* Scrollbar invisível mas funcional */
::-webkit-scrollbar {
  width: 0px;
}

.musi-card {
  @apply bg-[#16151a] border border-white/5 rounded-[24px];
}